<p>
    Hey {{{username}}},
</p>
<p>
    Your new password has been set to <b>{{{newPassword}}}</b>.
    Please login and change your password.
</p>
<p>
    Happy memeing,<br>
    Meme World Team
</p>