<p>
    Hey {{{username}}},
</p>
<p>
    Please visit this <a href="https://meme-world.herokuapp.com/users/resetPassword?token={{{resetToken}}}">link</a>
    to reset your password.
</p>
<p>
    Happy memeing,<br>
    Meme World Team
</p>