.mr-0 {
    margin-right: 0 !important;
}

.text-center {
    text-align: center !important;
}

.spinner {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 100;
}

.img-responsive {
    max-width: 100% !important;
}

.relative {
    position: relative !important;
}

.top-right {
    position: absolute;
    top: 5px;
    right: 0;
}

.bottom-right {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.white-bg {
    background-color: #fff !important;
}

.remove-btn:hover {
    background-color: #fff !important;
}

.avatar {
    border-radius: 50% !important;
}

.full-width {
    width: 100% !important;
}

.full-height {
    height: 100% !important;
}

.width-80 {
    width: 80% !important;
}

.width-150 {
    width: 150% !important;
}

.max-width-50 {
    max-width: 50% !important;
}

.list-unstyled {
    list-style: none !important;
}

.padding-top-10 {
    padding-top: 10px;
}

.font-16 {
    font-size: 16px !important;
}

.font-12 {
    font-size: 12px !important;
}

.font-36 {
    font-size: 36px !important;
}

.font-200 {
    font-size: 200px !important;
}

.comment-actions {
    padding: 0 !important;
    margin: 0 !important;
    width: 20px !important;
}

html {
    overflow-y: scroll !important;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.mt-30 {
    margin-top: 30px !important;
}