.mr-0 {
    margin-right: 0 !important;
}

.text-center {
    text-align: center !important;
}

.spinner {
    position: fixed;
    left: 45%;
    top: 45%;
    z-index: 100;
}

.img-responsive {
    max-width: 100% !important;
}

.relative {
    position: relative !important;
}

.top-right {
    position: absolute;
    top: 5px;
    right: 0;
}

.bottom-right {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.white-bg {
    background-color: #fff !important;
}

.remove-btn:hover {
    background-color: #fff !important;
}

.avatar {
    border-radius: 30% !important;
    max-height: 80px !important;
}

.full-width {
    width: 100% !important;
}

.full-height {
    height: 100% !important;
}

.sidenav-mobile {
    width: 150px !important;
    min-width: 100px !important;
}

.width-60 {
    width: 60% !important;
}

.width-80 {
    width: 80% !important;
}

.width-100 {
    width: 100px !important;
}

.width-150 {
    width: 150% !important;
}

.max-width-50 {
    max-width: 50% !important;
}

.list-unstyled {
    list-style: none !important;
}

.padding-top-10 {
    padding-top: 10px;
}

.font-16 {
    font-size: 16px !important;
}

.font-12 {
    font-size: 12px !important;
}

.font-10 {
    font-size: 10px !important;
}

.font-28 {
    font-size: 28px !important;
}

.font-36 {
    font-size: 36px !important;
}

.font-50 {
    font-size: 50px !important;
}

.font-200 {
    font-size: 200px !important;
}

.comment-actions {
    padding: 0 !important;
    margin: 0 !important;
    width: 20px !important;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.ml-5 {
    margin-left: 5px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.underlined {
    text-decoration-line: underline;
}

.no-decorate {
    text-decoration: none;
}

.text-white {
    color: white;
}

.border-bottom {
    border-bottom: 1px solid #fff;
}