<md-sidenav 
    layout="column"
    layout-align="start center"
    layout-fill 
    class="md-sidenav-left"
    ng-class="{'sidenav-mobile': !$root.$mdMedia('gt-sm')}" 
    md-whiteframe 
    md-component-id="left-sidenav" 
    md-is-locked-open="$mdMedia('gt-sm')">
    <div hide-gt-sm layout="row" class="full-width">
        <span flex></span>
        <md-button class="md-icon-button" ng-click="$ctrl.close()">
            <i class="material-icons">close</i>
        </md-button>
    </div>
    <md-list>
        <md-list-item>
            <md-button 
                ng-class="{'md-accent': $root.selectedFilter === 'popular'}"
                ng-click="$ctrl.setFilter('popular')">Popular
            </md-button>
        </md-list-item>
        <md-list-item>
            <md-button 
                ng-class="{'md-accent': $root.selectedFilter === 'new'}"
                ng-click="$ctrl.setFilter('new')">New
            </md-button>
        </md-list-item>
        <md-list-item ng-if="$root.loggedIn">
            <md-button 
                ng-class="{'md-accent': $root.selectedFilter === 'myPosts'}"
                ng-click="$ctrl.showMyPosts()">My Posts
            </md-button>
        </md-list-item>
    </md-list>
    <md-button class="md-raised md-accent" ng-click="$ctrl.addPostDialog()">Add Post</md-button>
</md-sidenav>