<md-sidenav 
    layout="column"
    layout-align="start center" 
    layout-fill
    class="md-sidenav-left" 
    md-whiteframe 
    md-component-id="left" 
    md-is-locked-open="$mdMedia('gt-md')">
    <h1 class="md-title">Filter Posts</h1>
    <md-list>
        <md-list-item>
            <md-button 
                ng-class="{'md-accent': $ctrl.selectedFilter === 'popular'}"
                ng-click="$ctrl.setFilter('popular')">Popular
            </md-button>
        </md-list-item>
        <md-list-item>
            <md-button 
                ng-class="{'md-accent': $ctrl.selectedFilter === 'new'}"
                ng-click="$ctrl.setFilter('new')">New
            </md-button>
        </md-list-item>
    </md-list>
</md-sidenav>