<md-sidenav 
    layout="column"
    layout-align="start center"
    layout-fill 
    class="md-sidenav-left" 
    md-whiteframe 
    md-component-id="left" 
    md-is-locked-open="$mdMedia('gt-sm')">
    <md-list>
        <md-list-item>
            <md-button 
                ng-class="{'md-accent': $ctrl.selectedFilter === 'popular'}"
                ng-click="$ctrl.setFilter('popular')">Popular
            </md-button>
        </md-list-item>
        <md-list-item>
            <md-button 
                ng-class="{'md-accent': $ctrl.selectedFilter === 'new'}"
                ng-click="$ctrl.setFilter('new')">New
            </md-button>
        </md-list-item>
    </md-list>
    <md-button class="md-raised md-accent" ng-click="$ctrl.addPostDialog()">Add Post</md-button>
</md-sidenav>