<div layout="row" layout-padding class="relative">
    <md-menu ng-if="$ctrl.owns" md-position-mode="right bottom">
        <md-button class="md-icon-button top-right" 
            ng-click="$ctrl.showCommentMenu($mdMenu, $event)">
            <i md-menu-origin class="material-icons">more_vert</i>
        </md-button>
        <md-menu-content class="md-dense">
            <md-menu-item>
                <md-button ng-click="">Edit</md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
                <md-button ng-click="">Delete</md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
    <div flex="10">
        <img flex="80" ng-if="$ctrl.comment.profilePic" class="avatar" ng-src="data:image/png;base64,{{$ctrl.comment.profilePic}}">
    </div>
    <div layout="column">
        <span class="md-subhead"><b>{{$ctrl.comment.username}}</b></span>
        <span class="padding-top-10">{{$ctrl.comment.text}}</span>
        <div layout="row">
            <div flex="50">
                <img ng-if="$ctrl.comment.image" class="img-responsive" ng-src="data:image/png;base64,{{$ctrl.comment.image}}">
            </div>
        </div>
        <div>
            <md-button class="md-icon-button comment-actions" ng-class="{'md-accent': $ctrl.upvoted}" ng-click="$ctrl.upvote()">
                <i class="material-icons md-dark text-small">arrow_upward</i>
            </md-button>
            <small>{{$ctrl.comment.upvotes.length}}</small>
            <md-button class="md-icon-button comment-actions" ng-class="{'md-accent': $ctrl.downvoted}" ng-click="$ctrl.downvote()">
                <i class="material-icons md-dark text-small">arrow_downward</i>
            </md-button>
            <small>{{$ctrl.comment.downvotes.length}}</small>
        </div>
    </div>
</div>
<md-divider></md-divider>