<div layout="row" layout-padding class="relative">
    <span class="bottom-right font-12">{{$ctrl.comment.date}}</span>
    <div flex="20" flex-gt-xs="10">
        <img class="img-responsive" ng-if="$ctrl.comment.profilePic" ng-src="data:image/png;base64,{{$ctrl.comment.profilePic}}">
        <i ng-if="!$ctrl.comment.profilePic" class="material-icons font-36" layout-padding>account_circle</i>
    </div>
    <div layout="column" flex>
        <span class="md-subhead"><b>{{$ctrl.comment.username}}</b></span>
        <span class="padding-top-10">{{$ctrl.comment.text}}</span>
        <div layout="row">
            <div flex="100" flex-gt-xs="50">
                <img ng-if="$ctrl.comment.image" class="img-responsive" ng-src="data:image/png;base64,{{$ctrl.comment.image}}">
            </div>
        </div>
        <div>
            <md-button class="md-icon-button comment-actions" ng-class="{'md-accent': $ctrl.upvoted}" ng-click="$ctrl.upvote()">
                <i class="material-icons md-dark font-16">arrow_upward</i>
            </md-button>
            <small>{{$ctrl.comment.upvotes.length}}</small>
            <md-button class="md-icon-button comment-actions" ng-class="{'md-accent': $ctrl.downvoted}" ng-click="$ctrl.downvote()">
                <i class="material-icons md-dark font-16">arrow_downward</i>
            </md-button>
            <small>{{$ctrl.comment.downvotes.length}}</small>
        </div>
    </div>
    <md-menu ng-if="$ctrl.owns" md-position-mode="right bottom">
        <md-button class="md-icon-button top-right" 
            ng-click="$ctrl.showCommentMenu($mdMenu, $event)">
            <i md-menu-origin class="material-icons">more_vert</i>
        </md-button>
        <md-menu-content class="md-dense">
            <md-menu-item>
                <md-button ng-click="$ctrl.showEditDialog()">Edit</md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
                <md-button ng-click="$ctrl.showRemoveDialog()">Delete</md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>
<md-divider></md-divider>