<md-dialog layout-padding flex="50">
    <div layout="row" layout-align="start center">
        <h1 class="md-headline">Add Post</h1>
        <span flex></span>
        <md-button class="md-icon-button mr-0" aria-label="Close" ng-click="ctrl.close()">
            <i class="material-icons">close</i>
        </md-button>
    </div>
    <md-dialog-content>
        <form name="addPost" layout="column">
            <md-input-container>
                <label>Title</label>
                <input type="text" name="title" ng-model="ctrl.title" ng-focus="ctrl.clearErrors()" required>
                <div ng-messages="addPost.title.$error"></div>
            </md-input-container>
            <div ng-if="!ctrl.imgSrc" layout="row" layout-align="center">
                <label for="image" class="md-button md-raised md-accent">Browse</label>
                <input image-upload preview-image="ctrl.setImageSrc" class="ng-hide" type="file" accept="image/png,image/jpeg" name="image" id="image" required>
            </div> 
            <div ng-if="ctrl.imgSrc" layout="row" layout-align="center">
                <div class="relative">
                    <img ng-src="{{ctrl.imgSrc}}" class="img-responsive">
                    <md-button class="md-icon-button white-bg remove-btn top-right" aria-label="Close" ng-click="ctrl.removeImage()">
                        <i class="material-icons">close</i>
                    </md-button>
                </div>
            </div>    
            <span ng-if="ctrl.err" md-colors="{color: 'red'}" class="md-body-1" layout-padding>{{ctrl.err}}</span>
            <span ng-if="ctrl.success" md-colors="{color: 'green'}" class="md-body-1" layout-padding>{{ctrl.success}}</span>
            <div layout="row" layout-align="center">
                <md-button ng-if="ctrl.imgSrc" layout-margin type="submit" class="md-raised md-accent" ng-click="ctrl.submit(addPost.$valid)">Post</md-button>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>