<md-card layout="column" layout-align="start center" flex-xs flex-sm class="relative mb-30">
    <md-card-title>
        <md-card-title-text>
            <span class="md-title">{{$ctrl.post.title}}</span>
        </md-card-title-text>
    </md-card-title>
    <md-menu ng-if="$ctrl.owns" md-position-mode="right bottom">
        <md-button class="md-icon-button top-right" 
            ng-click="$ctrl.showPostMenu($mdMenu, $event)">
            <i md-menu-origin class="material-icons">more_vert</i>
        </md-button>
        <md-menu-content class="md-dense">
            <md-menu-item>
                <md-button ng-click="$ctrl.showEditDialog()">Edit Title</md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
                <md-button ng-click="$ctrl.showRemoveDialog()">Delete</md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
    <a ui-sref="post({postId: $ctrl.post._id})">
        <img ng-src="{{$ctrl.imageSrc}}" class="md-card-image img-responsive" alt="{{$ctrl.post.title}}">
    </a>
    <md-list layout="row" layout-align="space-between">
        <md-list-item>
            <span class="md-caption" ng-class="$root.$mdMedia('gt-xs') ? 'font-12': 'font-10'">{{$ctrl.post.upvotes.length}} Upvotes</span>
        </md-list-item>
        <md-list-item>
            <span class="md-caption" ng-class="$root.$mdMedia('gt-xs') ? 'font-12': 'font-10'">{{$ctrl.post.downvotes.length}} Downvotes</span>
        </md-list-item>
        <md-list-item>
            <span class="md-caption" ng-class="$root.$mdMedia('gt-xs') ? 'font-12': 'font-10'">{{$ctrl.post.commentCount}} Comments</span>
        </md-list-item>
    </md-list>
    <md-card-actions layout="row" layout-align="center">
        <md-button layout="row" layout-align="center center" class="md-icon-button" aria-label="Upvote"
            ng-class="{'md-accent': $root.loggedIn && $ctrl.upvoted}" ng-click="$ctrl.upvote()">
            <i class="material-icons md-dark">arrow_upward</i>
        </md-button>
        <md-button layout="row" layout-align="center center" class="md-icon-button" aria-label="Downvote"
            ng-class="{'md-accent': $root.loggedIn && $ctrl.downvoted}" ng-click="$ctrl.downvote()">
            <i class="material-icons md-dark">arrow_downward</i>
        </md-button>
        <md-button layout="row" layout-align="center center"  class="md-icon-button" aria-label="Comment"
            ui-sref="post({postId: $ctrl.post._id})">
            <i class="material-icons md-dark">comment</i>
        </md-button>
    </md-card-actions>
    <div layout="row" layout-padding>
        <span class="bottom-right" ng-class="$root.$mdMedia('gt-sm') ? 'font-12': 'font-10'">{{$ctrl.post.date}}</span>
    </div>
</md-card>
